# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/mmp_garage

# Admin Authentication
ADMIN_EMAIL=admin@gulf-restaurant.com
ADMIN_PASSWORD=your_secure_password
JWT_SECRET=your_jwt_secret

# Next.js Configuration
NEXT_PUBLIC_API_URL=https://www.gulf-restaurant.com

# Production Environment
NODE_ENV=production